body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 1s ease;
}
#page-container{
    color: black;
    transition: all 1s ease;
}
.flex-horizontal{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: nowrap;
}
.flex-mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Load */
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}
/* 
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  
    -ms-transform: translateX(-100%);  
    transform: translateX(-100%);  
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  
    -ms-transform: translateX(100%);  
    transform: translateX(100%);  
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}
.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out; 
            transition: all 0.3s 0.6s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out; 
            transition: all 0.3s 1s ease-out;
} */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper{
    opacity: 1;
    transition: all 1s ease-out;
}
.loaded #loader-wrapper{
    /* display: none; */
    opacity:0;
    pointer-events: none;
    
}
.loader-wrapper, .loader, .loader-section, .section-left,.section-right{
    /* transition: all 1s ease-in-out; */
    /* display: none */
}
/* No-js support == no loader */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
/* End of Load */
/* Input Text */
input#id_message.validate{
    min-width: 500px;
    height: 200px;
    vertical-align: top;
}
/* .input-override{
    width: 500px;
    height: 500px;
}
input .input-override{
    width: 500px;
    height: 500px;
} */
/* End of Input Text */
/* Buttons */
.btn-override{
    min-width: 0px;
    background-color: white;
    transition: all 1s ease;
    /* transition-delay: 0.5s; */
}
.btn-override:hover{
    /* transition-delay: 0s; */

}
.head-btn-override{
    min-width: 200px;
}
.btn:hover{
    /* background-color: #343a40; */
}
/* End of Button */

/* Cards */
.card-override{
    min-width: 500px;
    padding-bottom: 1rem;
    transition: all 1s ease;
}
.card-header-override{
    font-size: 2rem;
    min-width: inherit; 
}
.accordion-header:hover{
    cursor: pointer;
}
/* End of Cards */

/* Accordion */
.accordion-wrapper{
    color: black;
    min-width: 500px;
    max-width: 500px;
}
.accordion-content{
    max-height: 100vh;
    padding: .75rem 1.25rem;
    border: 0.5px;
    transition: all 1s ease;
    font-size: 1rem;
}
.accordion-content-hidden{
    max-height: 0vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* display:none; */
    transition: all 0.5s ease;
}
.active, .accordion:hover {
    background-color: #ccc;
}
/* End of Accordion */