/* Multi Use */
.horizontal-flex{
    display: flex;
    justify-content: center;
}
/* Story 9 */
.index-body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at top right,darkblue,black);
    color: white;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}
.btn-outline-light:hover{
    color: darkblue;
}
.filter-wrapper{
    display: flex;
    justify-content: center;
}
.filter-wrapper .form-control{
    margin-right: 10px;
}
.head-wrapper{
    justify-content: center;
    text-align: center;
}
.table-wrapper{
    margin-top: 20px;
    color: darkblue;
    display: flex;
    justify-content: center;
}
.table-override{
    background: white;
    max-width: 80vw;
    border: 2px solid #dee2e6;
}
.table-override .tr{
    max-height: 250px;
}
.favorite-column{
    display:flex;
    justify-content:center;
    border:0px;
    border-top:1px solid #f0f0f0;
}
.material-icons{
    transition: 0.5s all ease;
    cursor: pointer;
    color: black;
}
.material-icons:hover{
    color: #BDBD00;
}
.active-star{
    color: #fff000;
}
.favorites-wrapper{
    display: inline-flex;
    justify-content: center;
}


/* Story 10 */
.register-body{
    background-image: radial-gradient(circle at top right,darkblue,black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    height: 100vh;
    display: flex;
    align-items: center;
}
.form-control{
    background-clip: border-box;
    border: 1px darkblue;
}

.form-content-override{
    width: 500px;
    color: white;
    border: 0px solid;
}
.form-header{
    text-align: center;
    font-size: 2em;
}
.form-override{
    border-radius: 0;
    max-width: 500px;
}
.btn-form-override{
    width: 100px;
}
.btn-form-override:hover{
    color: darkblue;
}