body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to top right, red, #747094); */
    background-image: radial-gradient(circle at top right,#FEFEFE,#CACACA);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: no-repeat center center fixed;  */
    
    background-size: cover;
}
.head-wrapper{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    justify-content: center;
    text-align: center;
}
.table-wrapper{
    display: flex;
    justify-content: center;
    /* background: red; */
    /* background-image: red; */
}
.table-override{
    background: white;
    max-width: 80vw;
    border: 2px solid #dee2e6;
}
.favorite-column{
    display:flex;
    justify-content:center;
    border:0px;
    border-top:1px solid #f0f0f0;
}
.material-icons{
    transition: 0.5s all ease;
    cursor: pointer;
}
.material-icons:hover{
    color: #BDBD00;
}
.active-star{
    color: #fff000;
}
.favorites-wrapper{
    display: inline-flex;
    justify-content: center;
}