<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story9/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="index-body">
    <div class="content-wrapper">
        <div class="head-wrapper">

            {% if user.is_authenticated %}
            <div class="">
                <p class="display-4">Hello, {{ user.username }}</p>
                <a id="logout-button" href="{% url 'story9:logout' %}" class="btn btn-outline-light btn-override">Logout</a>
            </div>
            {% else %}
            <br>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-light btn-override">Login with Google</a><br>
            {% endif %}

            <h1>Michael's Book Collection</h1>

            <div class="favorites-wrapper">
                <div class="favorites-text">
                    <h1>Favorite Books: </h1>
                </div>
                <div class="favorites-counter">
                    <h1></h1>
                </div>
                <div>
                </div>
            </div>
            <div class="filter-wrapper">
                <input id="filter-textarea" type="text" class="form-control form-override" placeholder="Search for keyword"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <br>
                <button id="filter-button" type="button" class="btn btn-outline-light btn-override">Search</button>
                <br>
            </div>
            <div class="table-wrapper">
                <table class="table table-striped table-bordered table-override">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Favorites</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

        <script src="{% static 'story9/script.js' %}"></script>
</body>

</html>