<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Register Validation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story9/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="register-body">

    <section id="form">
        <div class="container form-content-override">
            <form id="subscriber-form" action="{% url 'story9:register' %}" method="post">
                {% csrf_token %}
                <div class="form-header">
                    Register
                </div>
                {% csrf_token %}
                <div class="row my-2 form-content-override">Name{{ form.name }}</div>
                <div class="row my-2 form-content-override">Password{{ form.password }}</div>
                <div class="row my-2 form-content-override">Email{{ form.email }}</div>

                <div class="button-submit horizontal-flex">
                    <button id="button-form-validate" class="btn btn-outline-light btn-form-override" type="submit" name="action">
                        Register
                    </button>
                </div>
                <div class="horizontal-flex"><p id="notif-error"></p></div>
            </form>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<script src="{% static 'story9/script.js' %}"></script>

</html>