{% extends 'ppw/base.html' %}
{% block content %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">MICHAEL</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
</ul>

<section id="schedule-add">
    <div class="title">
        <p>Add schedule here</p>
    </div>
    <form id="schedule-form" action="{% url 'addSchedule' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <!-- {{ form }} -->
            <div class="col l8 s12 push-l2 pull-l2">


                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="input-field col s12">{{ form.name }}</div>
                </div>
                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="input-field col s12">{{ form.category }}</div>
                </div>
                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="input-field col s12">{{ form.date }}</div>
                </div>
                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="input-field col s12">{{ form.time }}</div>
                </div>
                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="input-field col s12">{{ form.location }}</div>
                </div>

                <div class="col l8 s12 push-l2 pull-l2">
                    <div class="button-submit">
                        <button class="btn btn-red red" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock %}