{% extends 'ppw/base.html' %}

<!-- <!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Background Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body> -->
        {% block content %}
        <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">MICHAEL</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
                </ul>
            </div>
        </nav>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
        </ul>

        <section id="background-more">
            <div class="row">
                <div class="col s12 m12 l12 background-margin">
                    
                    <div class="background-container">
                        <div class="title">
                            <p>My Experience</p>
                        </div>
                        <div class ="col s12 m12 l12 ">
                            <div class="background-ending starting-margin">
                                <div class="background-ending-img">
                                <a href="{% url 'index' %}"><img class="rotate180"src="{% static 'ppw/img/right-arrow.png' %}" height="32px" width="32px" ></a></div>
                                <div class="background-ending-text"><p>Return to Homepage</p></div>
                            </div>
                        </div>
                        <div class ="col s12 m12 l8 push-l2 pull-l2">
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/list.png' %}"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>Graduation - Logistic</h4>
                                        <p>Logistics seems to sound a lot of work just to ensure everything goes well. 
                                            Regardless, it was a fun time and I did not regret being there.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/open-book.png' %}"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>PMB - Academy</h4>
                                        <p>For me, Academy is the heart of this students’ orientation as we are the one who manages what challenges 
                                            and benefits will the new students get from their first semester.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/teacher.png' %}" id="background-image"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>TA - Prog. Foundation</h4>
                                        <p>I had so much fun being in this class on the first year and helping others. 
                                            This opportunity allows me to improve my programming skills.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                        </div>
   
                    </div>
                </div>
            </div>
        </section>

        {% endblock %} 
        <!-- <section id="contact">
            <div class="row">
                <div class ="col s12 m12 l6 push-l3 pull-l3">
                    <div class="mid-flexbox-container">
                        <div class="contact-container">
                            <div class="contact-container-icon">Feel free to</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.google.com"><img class="contact-img" src="{% static 'ppw/img/google.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.linkedin.com"><img class="contact-img" src="{% static 'ppw/img/linked-in.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.instagram.com"><img class="contact-img" src="{% static 'ppw/img/instagram.png' %}"></a></div>
                            <div class="contact-container-icon">contact me at:</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.facebook.com"><img class="contact-img" src="{% static 'ppw/img/facebook.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.line.com"><img class="contact-img" src="{% static 'ppw/img/line.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.whatsapp.com"><img class="contact-img" src="{% static 'ppw/img/whatsapp.png' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="{% static 'script.js' %}" type="text/javascript"></script>
    </body>
</html> -->