<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>My Bio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Scripts are place on the lower body tag for better loading efficiency        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'ppw/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
    {% block content %}
    {% endblock %}

    <!-- The links in the footer does not represent my social media(as some are not available), and represents the socialmedia index page intead -->
    <section id="contact">
        <div class="row">
            <div class="col s12 m12 l6 push-l3 pull-l3">
                <div class="mid-flexbox-container">
                    <div class="contact-container">
                        <div class="contact-container-icon">Feel free to</div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.google.com"><img
                                    class="contact-img" src="{% static 'ppw/img/google.png' %}"></a></div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.linkedin.com"><img
                                    class="contact-img" src="{% static 'ppw/img/linked-in.png' %}"></a></div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.instagram.com"><img
                                    class="contact-img" src="{% static 'ppw/img/instagram.png' %}"></a></div>
                        <div class="contact-container-icon">contact me at:</div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.facebook.com"><img
                                    class="contact-img" src="{% static 'ppw/img/facebook.png' %}"></a></div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.line.com"><img
                                    class="contact-img" src="{% static 'ppw/img/line.png' %}"></a></div>
                        <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.whatsapp.com"><img
                                    class="contact-img" src="{% static 'ppw/img/whatsapp.png' %}"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'ppw/script.js' %}" type="text/javascript"></script>
</body>

</html>