{% extends 'ppw/base.html' %}

<!-- <!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>My Bio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body> -->
        {% block content %}

        <section id="home">
            <div class="home-background">
                <!-- <img class="home-background-img" src="{% static 'ppw/img/analog.jpg' %}">    -->
                <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">MICHAEL</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'showSchedule' %}">Schedule</a></li>
                            <li><a href="{% url 'signup' %}">Register</a></li>
                            <li><a href="#profile" class="scroller">Profile</a></li>
                            <li><a href="#background" class="scroller">Background</a></li>
                            <li><a href="#contact" class="scroller">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{% url 'showSchedule' %}">Schedule</a></li>
                    <li><a href="{% url 'signup' %}">Register</a></li>
                    <li><a href="#profile" class="scroller">Profile</a></li>
                    <li><a href="#background" class="scroller">Background</a></li>
                    <li><a href="#contact" class="scroller">Contact</a></li>
                </ul>
                <div class="home-text">
                        <p>Hello</p>
                        <p>There</p>
                </div>
            </div>
        </section>
        
        <section id="profile">
            <div class="row">
                <div class ="col s12 m12 l8  push-l2 pull-l2 ">
                    <div class ="title">
                        <p>About Me</p>
                    </div>
                    <div class ="line"></div>
                    <div class ="profile-container">
                        <div class ="col s12 m6 l5">
                            <div class ="profile-image">
                                    <img class="self-img" src="{% static 'ppw/img/self-photo.jpg' %}">

                            </div>
                        </div>
                        <div class="col s12 m6 l7">
                            <div class="profile-text texts mid-flexbox-container">
                                    <p>Hey, my name is Michael Sudirman and I am a computer science student from Universitas Indonesia. 
                                    Throughout my campus life, I have been more and more interested in data science and software engineering. 
                                    I also like to play computer games, chess and watching youtube videos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="background">
            <div class="row">
                <div class="col s12 m12 l12 background-margin">
                    <div class="background-container">
                        <div class="title">
                            <p>My Specialties</p>
                        </div>
                        <div class ="col s12 m12 l8 push-l2 pull-l2">
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/python.png' %}"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>Python</h4>
                                        <p>The first programming language I have ever learned in campus. 
                                            The framework mathplotlib and Django were also fun do discover and learn.
                                            Would recommend learning this language !
                                            </p>
                                    </div>
                                </div>    
                            </div>
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/java.png' %}"></div>    
                                    </div>              
                                </div>
                                <div class ="col  s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>Java</h4>
                                        <p>This language is the most-used language in my campus year so far. 
                                            Lately, I used Java frequently and will be used more in the future~
                                            I do like the GUI Framework though.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/html.png' %}" id="background-image"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>HTML and CSS</h4>
                                        <p>I learned these programming languages during highschool. 
                                            For starters, the language seems hard to understand but with a lot of education websites. 
                                            But now I might be getting better.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                            <div class="background-content-container">
                                <div class ="col s12 m3 l3 middle-img">
                                    <div class="background-container-image">
                                        <div class="background-image"><img src="{% static 'ppw/img/php.png' %}"></div>    
                                    </div>              
                                </div>
                                <div class ="col s12 m9 l9">
                                    <div class="background-content-text texts">
                                        <h4>PHP</h4>
                                        <p>My first encounter with PHP and its framework, Laravel, 
                                            was during the teaching and learning with BEM PTI. 
                                            By far the most unique yet least favored language at the moment.
                                        </p>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="background-container">
                            <div class ="col s12 m12 l7 push-l5">
                                <div class="background-ending">
                                    <div class="background-ending-text"><p>Learn more about my background</p></div>
                                    <div class="background-ending-img"><a href="{% url 'background' %}"><img src="{% static 'ppw/img/right-arrow.png' %}" height="32px" width="32px" ></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}        
        <!-- <section id="contact">
            <div class="row">
                <div class ="col s12 m12 l6 push-l3 pull-l3">
                    <div class="mid-flexbox-container">
                        <div class="contact-container">
                            <div class="contact-container-icon">Feel free to</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.google.com"><img class="contact-img" src="{% static 'ppw/img/google.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.linkedin.com"><img class="contact-img" src="{% static 'ppw/img/linked-in.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.instagram.com"><img class="contact-img" src="{% static 'ppw/img/instagram.png' %}"></a></div>
                            <div class="contact-container-icon">contact me at:</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.facebook.com"><img class="contact-img" src="{% static 'ppw/img/facebook.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.line.com"><img class="contact-img" src="{% static 'ppw/img/line.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.whatsapp.com"><img class="contact-img" src="{% static 'ppw/img/whatsapp.png' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="{% static 'script.js' %}" type="text/javascript"></script>
    </body>
</html> -->