{% extends 'ppw/base.html' %}
{% block content %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">MICHAEL</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
</ul>


<!-- <div style="height: 100px;background-image: linear-gradient(white,rgb(249, 250, 251))"></div> -->
<section id="schedule-show">
    <div class="title">
        <p>Your schedule</p>
    </div>
    <div class="row">
        <div class="col l8 s12 push-l2 pull-l2">
            {% for field in all_schedule %}

            <div class="col s12">
                <div class="schedule-cards">
                    <h4>{{ field.errors }}</h4>
                    <h4>{{ field.name }}</h4>
                    <p>Category: {{ field.category }}</p>
                    <p>Date: {{ field.date }}</p>
                    <p>Time: {{ field.time }}</p>
                    <p>Location: {{ field.location }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col s12">

            <!-- <div style="display: flex;align-items: center;justify-content: center"> -->
            <div class=" col s12 schedule-buttons">
                <div style="display: flex;justify-content: center">
                    <form action="{% url 'addSchedule' %}">
                        <div class="schedule-buttons">
                            <div class="button-submit">
                                <button class="btn btn-red red" type="submit" name="action" style="width: 200px">
                                    <a href="{% url 'addSchedule' %}">Add Schedule</a>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class=" col s12 schedule-buttons">

                <div style="display: flex ;justify-content: center">
                    <form action="{% url 'delSchedule' %}">
                        <div class="schedule-buttons">
                            <div class="button-submit">
                                <button class="btn btn-red red" type="submit" name="action" style="width: 200px">
                                    <a href="{% url 'delSchedule' %}">Del Schedule</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    </div>


</section>
{% endblock %}