{% extends 'ppw/base.html' %}

<!-- <!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Background Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body> -->
        {% block content %}
        <!-- <div class="content-container"> -->
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">MICHAEL</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url 'index' %}">Return Back to Homepage</a></li>
            </ul>

            <section id="form">
                <div class="title">
                    <p>Sign Up</p>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" class="validate">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="user_name" type="text" class="validate">
                                <label for="user_name">User Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password-confirm" type="password" class="validate">
                                <label for="password-confirm">Confirm Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Birthdate" type="text" class="datepicker">
                            </div>
                            <div class="input-field col s12">
                                <div class="button-submit">
                                    <button class="btn btn-red red" type="submit" name="action">
                                        Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        <!-- </div> -->
        {% endblock %}
        <!-- <section id="contact">
            <div class="row">
                <div class ="col s12 m12 l6 push-l3 pull-l3">
                    <div class="mid-flexbox-container">
                        <div class="contact-container">
                            <div class="contact-container-icon">Feel free to</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.google.com"><img class="contact-img" src="{% static 'img/google.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.linkedin.com"><img class="contact-img" src="{% static 'img/linked-in.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.instagram.com"><img class="contact-img" src="{% static 'img/instagram.png' %}"></a></div>
                            <div class="contact-container-icon">contact me at:</div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.facebook.com"><img class="contact-img" src="{% static 'img/facebook.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.line.com"><img class="contact-img" src="{% static 'img/line.png' %}"></a></div>
                            <div class="contact-container-icon mid-flexbox-container"><a href="https:/www.whatsapp.com"><img class="contact-img" src="{% static 'img/whatsapp.png' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{% static 'script.js' %}" type="text/javascript"></script>
    </body>
</html> -->