body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.brand-logo{
    left: 20px
}
.nav-wrapper{
    background-color: #DC4139;
}

/* Home */
.home-background{
    margin: 0; 
    background-image:url('/static/ppw/img/analog.jpg');
    background-size:cover;
    position:relative;
    background-position:center;
    height: 100vh;
}
.home-text{
    position: absolute;
    top: 20%;
    left: 60%;
    font-size: 64px;
    /* font-size: 40%; */
}

/* Multi Use */
.mid-flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}
.texts{
    font-weight: 300;
    font-size: 18px;
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.red{
    background-color: #DC4139;
    color: white;
    text-decoration: none;
}
.red a{
    color: white;
}
.content-fullpage{
    min-height: 100vh;
}
/* Profile */
#profile{
    background-color: lightgoldenrodyellow;
    height: 500px;
    padding-top: 50px;
}
.profile-container{
    margin-bottom: 300px;
}
.profile-image{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}
.self-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px #DC4139;
    
}

.profile-text{
    height: 200px;
    text-align: left;
}

/* Background */
#background{ 
    height: 1100px;
    background-color: #FFD4B1;
    padding-top: 50px;
    padding-bottom: 50px;
} 
#background-more{
    height: 950px;
    background-color: #FFD4B1;
}
.background-content-container{
    height: 170px;
    box-shadow: 6px 6px 0px 0px #ccc;
    margin-bottom:36px;
    background-color: lightgoldenrodyellow;
}
.background-content-text{
    text-align: left
}
.background-container-image{
    height: 170px;
    padding-top: 21px;
}
.background-image{ 
    margin-left: auto;
    margin-right: auto;
    height: 128px;
    width: 128px;
}
.background-ending{
    display: flex; 
    float: right;
    height: 42px;
    background-color: lightgoldenrodyellow;
    box-shadow: 6px 6px 0px 0px #ccc;
    padding: 5px;
}
.background-ending-text{
    font-size: 16px;
    height: 32px;
    margin-left: 5px;
    line-height: 0;
    padding-right: 5px;
}
.starting-margin{
    /* margin: 36px; */
    margin-bottom:36px;
    float: left;
}
/* Contact */
#contact{
    height: 200px;
    padding-top: 50px; 
    background-color: lightgoldenrodyellow;
    position:relative;
}
.contact-container{
    display: grid;
    grid-template-columns: 190px 37px 37px 37px;
    grid-auto-rows: 37px;
    grid-gap: 10px;
    padding: 10px;
}
.contact-container-icon{
    text-align: right;
    font-size: 26px;
    color: #DC4139;
    padding-left: 5px;
    padding-right: 5px;
}
.contact-img{
    height: 32px;
    width: 32px;
}

/* Secondary - form.html */
#form{
    padding: 0px;
}
.picker__date-display, .picker__weekday-display{
    background-color: #DC4139;
}
/* Highlight */
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #DC4139; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: DC4139; }
.picker__day.picker__day--today 
{ color: DC4139;}
/* Datepicker Buttons */
.picker__clear { color: #DC4139; }
.picker__today { color: black; }
.picker__close { color: black; }
.btn-flat.picker__today:active { 
    background-color: lightgoldenrodyellow;
}
.btn-flat.picker__close:active { 
    background-color: lightgoldenrodyellow;
}
.btn-flat.picker__clear:active { 
    background-color: lightgoldenrodyellow;
}
/* Timepicker */
.picker__date-display, .picker__weekday-display{
    background-color: #DC4139;
}
.picker__date-display { background-color: #DC4139; }
.picker__day.picker__day--today { color: #DC4139; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background-color: #DC4139;}
.picker__close { color: #DC4139 !important;}
.picker__today { color: #DC4139 !important;}
.clockpicker-tick:hover { background: #DC4139 !important; }
.clockpicker-canvas line { stroke: #DC4139 !important; }
.clockpicker-canvas-bearing { fill: #DC4139 !important; }
.clockpicker-canvas-bg { fill: #DC4139 !important; }
.clockpicker-plate{background-color: #fef7f7}
/* Button */

.btn-red{
    background-color: #DC4139;
}
.btn-red:hover{
    background-color: #DC4139;
    opacity: 0.9
}

/* Secondary - schedule.html */
#schedule-add{
    padding-top: 36px;
    /* padding-bottom: 46px; */
    /* background: white; */
    background-color: white; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(white,rgb(249, 250, 251)); */
}
#schedule-show{
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(249, 250, 251);
}
.schedule-cards{
    /* background-color: #DC4139; */
    /* border: #DC4139 10px; */
    /* background-color: lightgoldenrodyellow; */
    /* background-color: #DC4139; */
    box-shadow: rgba(36, 37, 38, 0.13) 0px 0.25rem 1rem;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    /* background-color: #DC4139; */
    /* background-color: white; */
    /* color: white; */

}
/* Media Query - Small */
@media only screen and (max-width: 600px){
    h4{
        text-align: center;
    }
    /* Home */
    .home-text{
        top: 30%;
        left: 70%;
        font-size: 40px;
    }

    /* Profile */
    #profile{
        height: 700px;
    }

    /* Background */
    #background{
        height: 1900px;
    }
    #background-more{
        height: 1450px;
        background-color: #FFD4B1;
    }
    .background-content-container{
        height: 370px;
        padding: 10px;
    }
    .background-container-image{
        height: 128px;
        padding-top: 0px;   
    }
} 

/* Secondary page - schedule */

.schedule-buttons{
    margin: 10px;   
}