<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Post your message</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story6/styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <br>
    <div id="page-container" class="flex-horizontal">
        <div class="container flex-horizontal">
            <div class="row">
                <div class="col-12 align-self-center">
                    <a href="{% url 'postProfile' %}" class="btn btn-outline-dark btn-override head-btn-override">Go to
                        Pofile Page</a>
                    <a><input id="status-theme" type="button" value="Change Theme" class="btn btn-outline-dark btn-override head-btn-override" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1>Hello, how are you?</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-12 align-self-center flex-horizontal">
                    <p>Please share your text here</p>

                    <p id="theme">Theme: Light</p>
                </div>
            </div>
        </div>

        <form id="statusInput" action="{% url 'postMessage' %}" method="post" name="action">
            {% csrf_token %}
            <div class="container flex-horizontal">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <div class="input-field col s12 input-override">{{ form.message }}</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <button type="submit" class="btn btn-outline-dark btn-override" name="action">Send</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="container flex-horizontal">

            {% for field in all_status %}
            <div class="card text-white bg-dark mb-3 card-override flex-horizontal" style="max-width: 18rem;">
                <div class="card-header card-header-override">Message:</div>
                <div class="card-body">
                    <p class="card-text">{{ field.message }}</p>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">

                        <a href="{% url 'postDelete' field.id %}" id="delete_button" type="submit" class="btn btn-outline-dark btn-override "
                            name="action">Delete</a>

                    </div>
                </div>

            </div>

            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="{% static 'story6/script.js' %}" type="text/javascript"></script>

</body>

</html>