<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Post your message</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story6/styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <div id="page-container" class="flex-horizontal">
        <div id="loader-wrapper"></div>
        <div class="row ">
            <div class="col-12 align-self-center flex-horizontal">
                <h1>Michael Sudirman</h1>
                <p>A Computer Science Student</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-self-center">
                <a href="{% url 'index' %}" class="btn btn-outline-dark btn-override head-btn-override">Go to Post Page</a>
                <a><input id="profile-theme" type="button" value="Change Theme" class="btn btn-outline-dark btn-override head-btn-override" /></a>
            </div>

        </div>

        <div class="row">
            <div class="col-12 align-self-center flex-horizontal">
                <br>
                <p id="theme">Theme: Light</p>
                <br>
            </div>
        </div>
        <div class="card accordion-wrapper" style="width: 18rem;">
            <div id="accordion-1" class="accordion-header card-header text-white bg-dark">Education</div>
            <div id="accordion-1" class="accordion-content accordion-content-hidden list-group-item text-white bg-dark">
                <ul>
                    <li>HighSchool: Stella Maris</li>
                    <li>Current: Universitas Indonesia</li>
                </ul>
            </div>
            <div id="accordion-2" class="accordion-header card-header text-white bg-dark">Experiences</div>
            <div id="accordion-2" class="accordion-content accordion-content-hidden list-group-item text-white bg-dark">
                <ul>
                    <li>Teaching Assistant - Progamming Foundation 1</li>
                    <li>Graduation Staff - Logistics</li>
                    <li>PMB Staff - Academy</li>
                </ul>
            </div>
            <div id="accordion-3" class="accordion-header accordion-header-tail card-header text-white bg-dark">Skills</div>
            <div id="accordion-3" class="accordion-content accordion-content-hidden list-group-item text-white bg-dark">
                <ul>
                    <li>General Programming Language (Such as Java, Python)</li>
                    <li>Web Development (HTML,CSS, js, Django)</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="organization-wrapper" class="flex-horizontal">
        <p>The Button affects the "Experiences" accordion</p>
        <button id="organization-button" class="btn btn-outline-dark btn-override head-btn-override">Add Organization's detail</button>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'story6/script.js' %}" type="text/javascript"></script>
</body>

</html>